<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/01_Fundamentals/eindopdracht/css/sass/main.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Product Cards</title>
  </head>
  <body>
    <div class="wrapper">
      <section class="card">
        <div class="card__information">
          <div class="card__image">
            <img
              src="/01_Fundamentals/eindopdracht/images/developer.jpg"
              alt="foto van een developer met koptelefoon die kijkt naar een monitor met code"
            />
          </div>
          <div class="card__text">
            <h3>Techgrounds</h3>
            <h2>Webdeveloper</h2>
            <p>
              Leer de basis van het programmeren met o.a. HTML, CSS en
              Javascript. Specialiseer je daarna tot Front end of Back end
              Developer. Ga daarna aan de slag bij bedrijven zoals Mediamonks,
              Yacht of Sentia.
            </p>
          </div>

          <!-- right grid cell -->
          <div class="card__pricing">
            <!-- flex-container -->
            <p class="card__price">&euro; 00<sup>,00</sup></p>
            <p class="card__duration">Duur: 6 maanden, fulltime</p>
            <button class="card__btn">
              +
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="card__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- card 2 -->

        <!-- left grid cell -->
        <div class="card__information">
          <!-- flex-container -->
          <div class="card__image">
            <img
              src="/01_Fundamentals/eindopdracht/images/salesforce.jpg"
              alt="Picture of a smiling woman in front of a whiteboard"
            />
          </div>
          <div class="card__text">
            <h3>Techgrounds</h3>
            <h2>Salesforce Specialist</h2>
            <p>
              Leer de basis van CRM, User Management en het Salesforce
              Ecosysteem. Specialiseer je daarna tot Salesforce Consultant,
              Salesforce Developer of applicatiebeheerder. Ga daarna aan de slag
              bij bedrijven zoals Accenture, Nextview of Deloitte.
            </p>
          </div>

          <!-- right grid cell -->
          <div class="card__pricing">
            <!-- flex-container -->
            <p class="card__price">&euro; 00<sup>,00</sup></p>
            <p class="card__duration">Duur: 5 maanden, fulltime</p>
            <button class="card__btn">
              +
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="card__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- card 3 -->

        <div class="card__information">
          <!-- flex-container -->
          <div class="card__image">
            <img
              src="/01_Fundamentals/eindopdracht/images/techsupport.jpg"
              alt="picture of a blond woman on a couch with a laptop on her lap making a phone call"
            />
          </div>
          <div class="card__text">
            <h3>Techgrounds</h3>
            <h2>TechSupport</h2>
            <p>
              Leer de basis van techsupportsystemen en netwerk- en
              beveiligingsbeheer. Ga daarna aan de slag bij bedrijven zoals
              Qiss-IT, Enovation of UMCU.
            </p>
          </div>

          <!-- right grid cell -->
          <div class="card__pricing">
            <!-- flex-container -->
            <p class="card__price">&euro; 00<sup>,00</sup></p>
            <p class="card__duration">Duur: 4 weken, fulltime</p>
            <button class="card__btn">
              +
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="card__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- card 4 -->

        <div class="card__information">
          <!-- flex-container -->
          <div class="card__image">
            <img
              src="/01_Fundamentals/eindopdracht/images/cloud-engineer.jpg"
              alt="Picture of two woman working on a laptop"
            />
          </div>
          <div class="card__text">
            <h3>Techgrounds</h3>
            <h2>Cloud Engineer</h2>
            <p>
              Leer de basis van Cloud, Python, Security en Linux. Ga daarna aan
              de slag bij bedrijven zoals KPN, Randstad, Rabobank of Cap Gemini.
            </p>
          </div>

          <!-- right grid cell -->
          <div class="card__pricing">
            <!-- flex-container -->
            <p class="card__price">&euro; 00<sup>,00</sup></p>
            <p class="card__duration">Duur: 4 maanden, fulltime</p>
            <button class="card__btn">
              +
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="card__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
