<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/01_Fundamentals/eindopdracht/css/sass/main.css"
    />

    <script
      src="https://kit.fontawesome.com/f06d8e237e.js"
      crossorigin="anonymous"
    ></script>
    <title>Footer Component</title>
  </head>
  <body>
    <footer class="footer">
      <!-- grid col 1 -->
      <ul class="footer__list">
        <li class="footer__list-item">Klantenservice</li>
        <li class="footer__list-item"><a href="#">Contact opnemen</a></li>
        <li class="footer__list-item"><a href="#">Bestellen & Leveren</a></li>
        <li class="footer__list-item"><a href="#">Betalen</a></li>
        <li class="footer__list-item"><a href="#">Retourneren</a></li>
        <li class="footer__list-item"><a href="#">Garantie & Reparatie</a></li>
      </ul>

      <!-- grid col 2 -->

      <ul class="footer__list">
        <li class="footer__list-item">Winkels</li>
        <li class="footer__list-item"><a href="#">Almere</a></li>
        <li class="footer__list-item"><a href="#">Amstelveen</a></li>
        <li class="footer__list-item"><a href="#">Amsterdam</a></li>
        <li class="footer__list-item"><a href="#">Den Haag</a></li>
        <li class="footer__list-item"><a href="#">Eindhoven</a></li>
        <li class="footer__list-item"><a href="#">Groningen</a></li>
        <li class="footer__list-item"><a href="#">Maastricht</a></li>
        <li class="footer__list-item"><a href="#">Rotterdam</a></li>
        <li class="footer__list-item"><a href="#">Utrecht</a></li>
      </ul>

      <!-- grid col 3 -->

      <ul class="footer__list">
        <li class="footer__list-item">Ontdek</li>
        <li class="footer__list-item"><a href="#">Inspiratie</a></li>
        <li class="footer__list-item"><a href="#">Merken</a></li>
        <li class="footer__list-item"><a href="#">Outlet</a></li>
        <li class="footer__list-item"><a href="#">Acties</a></li>
        <br />
        <li class="footer__list-item"><a href="#">Damesmode</a></li>
        <li class="footer__list-item"><a href="#">Herenmode</a></li>
        <li class="footer__list-item"><a href="#">Kindermode</a></li>
        <li class="footer__list-item"><a href="#">Wonen</a></li>
        <li class="footer__list-item"><a href="#">Cosmetica</a></li>
      </ul>

      <!-- grid col 4 -->

      <div class="footer__socials">
        <p class="footer__text">Wil je ons volgen?</p>
        <div class="footer__icons">
          <a href="https://www.facebook.com/Techgrounds/" target="_blank"
            ><i class="fa-brands fa-facebook-square social-icon"></i
          ></a>
          <a href="#"
            ><i class="fa-brands fa-instagram-square social-icon"></i
          ></a>
          <a href="#"><i class="fa-brands fa-linkedin social-icon"></i></a>
          <a href="#"
            ><i class="fa-brands fa-twitter-square social-icon"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
