<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/01_Fundamentals/eindopdracht/css/sass/main.css"
    />

    <title>Hero Component</title>
  </head>
  <body>
    <header class="hero">
      <div class="hero__information">
        <h1 class="hero__heading">Klaar om je carrière in IT te starten?</h1>
        <p class="hero__text">
          Techgrounds leidt omscholers op tot IT-professionals, inclusief
          baangarantie! Een vooropleiding is niet nodig en je toekomstige
          werkgever betaalt de opleiding.
        </p>
        <button class="btn btn--cta">lees meer</button>
      </div>
      <div class="hero__image">
        <img src="/01_Fundamentals/eindopdracht/images/freeguy.png" alt="" />
      </div>
    </header>
  </body>
</html>
