<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/01_Fundamentals/eindopdracht/css/sass/main.css"
    />

    <script
      src="https://kit.fontawesome.com/f06d8e237e.js"
      crossorigin="anonymous"
    ></script>

    <title>Navigation Component</title>
  </head>
  <body>
    <!-- Navigation -->

    <nav class="navigation">
      <img
        class="navigation__logo"
        src="/01_Fundamentals/eindopdracht/images/TG-logo.png"
        alt="TechGrounds logo"
      />
      <input type="checkbox" class="navigation__trigger" name="" id="" />
      <div class="navigation__hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="navigation__list">
        <li class="navigation__list-item">
          <i class="fa-solid fa-mask navigation__icon"></i>
          <a href="#">Hero</a>
        </li>
        <li class="navigation__list-item">
          <i class="fa-solid fa-key navigation__icon"></i>
          <a href="#login">Login</a>
        </li>
        <li class="navigation__list-item">
          <i class="fa-solid fa-address-card navigation__icon"></i>
          <a href="#cards">Cards</a>
        </li>
        <li class="navigation__list-item">
          <i class="fa-solid fa-envelope navigation__icon"></i>
          <a href="#footer">Footer</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
