.btn {
  border-radius: 100px;
  border: none;
  color: $color-text;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.btn--large {
  background-color: $color-primary;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($color-primary, 10);
  }
}

.btn--small {
  background-color: $color-secondary;
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:hover {
    background-color: lighten($color-secondary, 15);
  }
}

.btn--cta {
  background-color: $color-accent;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 4rem;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($color-accent, 5);
  }
}

.login__btn {
  @include flex-center(row);
  gap: 10px;
  width: 100%;
}

.card__btn {
  @include flex-center(row);
  align-self: flex-start;
  gap: 5px;
}
