.wrapper {
  @include flex-center(column);
  min-height: 100vh;
  background-color: $color-primary;
}

.card {
  @include flex-center(column);
  gap: 30px;
  background-color: white;
  border-radius: 20px;
  border: 0.5px solid lightgrey;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  max-width: 1100px;
  padding: 30px;
  margin-top: 6rem;
  margin-bottom: 6rem;

  &__information {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 820px) {
      grid-template-columns: 1fr 2fr;
    }

    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    border-radius: 20px;
    overflow: hidden;
  }

  &__pricing {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (max-width: 820px) {
      flex-direction: row;
      gap: 30px;
      grid-column: 2 / -1;
    }

    @media screen and (max-width: 450px) {
      gap: 30px;
      grid-column: 1;
    }
  }

  &__price {
    color: $color-accent;
    font-weight: 700;
  }

  &__duration {
    color: $color-primary;
    font-size: 1.4rem;

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
