.card {
  @include flex-center(column);
  gap: 30px;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 0.5px solid lightgrey;
  max-width: 1100px;
  padding: 30px;
  background-color: #ebf3fd;

  &__information {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    border-radius: 20px;
    overflow: hidden;
  }

  &__pricing {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (max-width: 450px) {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__price {
    color: #dc5535;
    font-weight: 700;
  }

  &__duration {
    color: #407be9;
    font-size: 1.2rem;
  }

  &__btn {
    background-color: #2b135c;
    align-self: flex-start;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2rem;
    outline: 0;
    border: none;
    cursor: pointer;
    @include flex-center(row);
    gap: 5px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    &:hover {
      background-color: lighten(#2b135c, 15);
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
