.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  background-color: $color-secondary;
  border-radius: 20px 20px 0 0;
  border: 0.5px solid $color-border;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 30px;

  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  &__list-item {
    margin-bottom: 1rem;

    &:first-child {
      font-weight: 700;
      font-size: 2rem;
      color: $color-text;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & a {
      color: $color-text;
    }
  }

  &__socials {
    grid-column: 5/6;

    @media screen and (max-width: 450px) {
      grid-column: 1;
    }
  }

  &__text {
    color: $color-text;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__icon {
    display: flex;
    flex-wrap: wrap;
  }

  .social-icon {
    width: 24px;
    height: 24px;
    color: $color-text;
    margin-left: 3px;
  }

  .social-icon:hover {
    color: $color-primary;
  }
}
