.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: $color-primary;
  margin-top: 80px;
  border-radius: 0 0 20px 20px;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  &__information {
    padding: 2rem 0 2rem 5rem;

    @media screen and (max-width: 480px) {
      margin-top: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
    }
  }

  &__heading {
    color: white;
  }

  &__text {
    color: white;
    margin-bottom: 3rem;
  }
}
