.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #407be9;
  margin-top: 80px;

  &__information {
    padding-left: 5rem;
  }

  &__heading {
    color: white;
  }

  &__text {
    color: white;
    margin-bottom: 5rem;
  }

  &__button {
    border: none;
    background-color: #dd5336;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    padding: 1em 4em;
    font-size: 1.6rem;
    text-transform: uppercase;
    gap: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(#dd5336, 10);
    }
  }
}
