.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 0.5px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  max-width: 320px;
  padding: 30px;

  &__image {
    width: 60%;
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 3rem;
    color: #2b135c;
  }

  &__subheading {
    font-size: 1.8rem;
    color: lightgrey;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #2b135c;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 1.5rem;
    }
  }

  &__link {
    font-size: 1.5rem;

    a {
      text-decoration: none;
    }
  }
  &__button {
    border: none;
    background-color: #2b135c;
    border-radius: 20px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(#2b135c, 15);
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: white;
  }
}
