.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.login {
  @include flex-center(column);
  gap: 1rem;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 0.5px solid lightgrey;
  max-width: 350px;
  padding: 30px;
  background-color: #fff;

  &__image {
    width: 60%;
    margin-bottom: 2rem;
  }

  &__heading {
    color: #2b135c;
  }

  &__subheading {
    color: lightgrey;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #2b135c;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      font-size: 1.5rem;
    }
  }

  &__link a {
    font-size: 1.5rem;
    color: #407be9;

    &:hover {
      color: #2b135c;
    }
  }

  &__button {
    border: none;
    background-color: #407be9;
    border-radius: 20px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    @include flex-center(row);
    gap: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(#407be9, 10);
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: white;
  }
}

.demo {
  color: white;
}
