html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

// navigation container
.navigation {
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 50px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;

  // company logo

  &__logo {
    width: 200px;

    @media screen and (max-width: 450px) {
      width: 150px;
    }
  }

  // navigation checkbox

  &__trigger {
    display: none;

    @media screen and (max-width: 820px) {
      display: block;
      position: absolute;
      top: 20px;
      right: 50px;
      width: 30px;
      height: 30px;
      opacity: 0;
      z-index: 1;
    }
  }

  // hamburger element

  &__hamburger {
    // hamburger stripes
    span {
      width: 25px;
      height: 3px;
      background-color: $color-text;
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
      display: none; // hides the hamburger on screens > 820px
      transition: transform 0.5s ease-out; // triggers transform to X shape

      @media screen and (max-width: 820px) {
        // makes the hamburger visible on screens < 820px
        display: block;
      }
    }
  }

  &__list {
    // horizontal navigation links
    display: flex;
    gap: 40px;

    @media screen and (max-width: 820px) {
      // hides the navigation links on screen < 820 px
      opacity: 0;
      position: absolute;
      flex-direction: column;
      right: -100vw;
      top: 80px;
      background-color: $color-secondary;
      width: 100vw;
      transition: right 0.5s ease-in-out;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      color: $color-text;
    }

    @media screen and (max-width: 820px) {
      transform: translateX(900px);
      transition: transform 0.5s ease-out;
    }
  }

  // Trigger states

  &__trigger:checked ~ &__hamburger span:first-child {
    // rotates the first bar 45 deg when checkbox is clicked
    transform: rotate(45deg);
    top: 8px;
    position: relative;
  }

  &__trigger:checked ~ &__hamburger span:last-child {
    // rotates the third bar - 45 deg bar when checkbox is clicked
    transform: rotate(-45deg);
    top: -8px;
    position: relative;
  }

  &__trigger:checked ~ &__hamburger span:nth-child(2) {
    // hides the second bar from view to create the X with first en third bar.
    opacity: 0;
  }

  &__trigger:checked ~ &__list {
    opacity: 1;
    right: 0;
    height: auto;
    width: 100vw;
    padding-left: 5rem;

    li:first-child {
      margin-top: 4rem;
    }

    li:last-child {
      margin-bottom: 4rem;
    }
  }

  &__trigger:checked ~ &__list li {
    transform: translateX(0);

    &:first-child {
      transition-delay: 0.1s;
    }

    &:nth-child(2) {
      transition-delay: 0.2s;
    }

    &:nth-child(3) {
      transition-delay: 0.3s;
    }

    &:last-child {
      transition-delay: 0.4s;
    }
  }

  &__icon {
    color: $color-text;
    width: 18px;
    height: 18px;
  }
}
