html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #ebf3fd;

  @media screen and (max-width: 820px) {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 5.4rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 1.5rem;

  @media screen and (max-width: 820px) {
    font-size: 3.2rem;
    line-height: 36px;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.8rem;

  @media screen and (max-width: 820px) {
    font-size: 2rem;
    line-height: 28px;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.8rem;

  @media screen and (max-width: 820px) {
    font-size: 1.7rem;
    line-height: 28px;
    margin-bottom: 0.4rem;
  }
}

p {
  margin-bottom: 1rem;
}
