// @mixin h1 {
//   font-size: 3rem;
//   font-weight: 700;
//   line-height: 3.6px;

//   @media screen and (max-width: 480px) {
//     font-size: 2.4rem;
//     line-height: 36px;
//   }
// }

// @mixin h2 {
//   font-size: 1.8rem;
//   font-weight: 700;
//   line-height: 50px;
//   @media screen and (max-width: 480px) {
//     font-size: 1.7rem;
//     line-height: 28px;
//   }
// }

// @mixin p {
//   font-size: 1.6rem;
//   font-weight: 400;
//   line-height: 24px;
//   @media screen and (max-width: 480px) {
//     font-size: 1.5rem;
//     line-height: 23px;
//   }
// }

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  @media screen and (max-width: 480px) {
    font-size: 1.5rem;
    line-height: 23px;
  }
}

h1 {
  font-size: 6.8rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2rem;

  @media screen and (max-width: 480px) {
    font-size: 2.4rem;
    line-height: 36px;
  }
}

h2 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 50px;

  @media screen and (max-width: 480px) {
    font-size: 1.7rem;
    line-height: 28px;
  }
}

p {
  margin-bottom: 1rem;
}
