main {
  @include flex-center(column);
  height: 100vh;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 2rem;
  }
}

.carousel {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  position: relative;

  &__slide {
    display: flex;
    height: 400px;
    width: 100%;
  }

  &__button-left {
    background-color: black;
    height: 400px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 40px;

    & .btn__previous {
      background-color: transparent;
      border: none;
      left: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      z-index: 2;

      svg {
        background-color: #fff;
        border-radius: 50%;
        color: #000;
        font-weight: bold;
      }
    }
  }

  &__button-right {
    background-color: black;
    height: 400px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    & .btn__next {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      z-index: 2;

      svg {
        background-color: #fff;
        border-radius: 50%;
        color: #000;
        font-weight: bold;
      }
    }
  }
}
