body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  margin: auto;
  max-width: 600px;
  border: 10px solid black;
  overflow: hidden;

  &__slide {
    display: flex;
    height: 400px;
    width: 100%;
  }
}
