body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;

  margin-bottom: 3rem;
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 2rem;
  }
}

.carousel {
  margin: 0 auto;
  max-width: 600px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;

  &__slide {
    display: flex;
    height: 400px;
    width: 100%;
  }

  &__button-left {
    background-color: black;
    height: 400px;
    width: 40px;
    position: absolute;
    top: 0;
    opacity: 0.5;

    & .btn__previous {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 5px;
      z-index: 2;
      width: 30px;
      background-color: transparent;
      border: none;

      svg {
        color: #000;
        font-weight: bold;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }

  &__button-right {
    background-color: black;
    height: 400px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;

    & .btn__next {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 5px;
      z-index: 2;
      width: 30px;
      background-color: transparent;
      border: none;

      svg {
        color: #000;
        font-weight: bold;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}
