.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 129, 157, 1) 100%
  );
  font-family: "Poppins", sans-serif;
}

.timezone {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    color: #fff;
  }
}

.clock {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #00819d;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &__hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 50%;
    background-color: #ffffff;
    transform-origin: bottom;
    z-index: 1;

    &.hour {
      background-color: #fff;

      height: 25%;
      width: 5px;
    }

    &.minute {
      height: 38%;
    }

    &.second {
      height: 38%;
      width: 2px;
      background-color: red;
    }
  }

  &__number {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    transform: rotate(0);

    &.number1 {
      transform: rotate(30deg);
    }

    &.number2 {
      transform: rotate(60deg);
    }

    &.number3 {
      transform: rotate(90deg);
    }

    &.number4 {
      transform: rotate(120deg);
    }

    &.number5 {
      transform: rotate(150deg);
    }

    &.number6 {
      transform: rotate(180deg);
    }

    &.number7 {
      transform: rotate(210deg);
    }

    &.number8 {
      transform: rotate(240deg);
    }
    &.number9 {
      transform: rotate(270deg);
    }

    &.number10 {
      transform: rotate(300deg);
    }

    &.number11 {
      transform: rotate(330deg);
    }
  }

  // &__dot {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translateX(50%);
  //   transform: translateY(-50%);
  //   color: #fff;
  //   width: 30px;
  //   height: 30px;
  //   background-color: #ffffff;
  //   border-radius: 50%;
  //   // z-index: 2;
  // }
}
