.container {
  @include flex-center(column);
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 129, 157, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  gap: 5rem;
  height: 100vh;
}

.timezone {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    color: #fff;
  }
}

.clock {
  background-color: #00819d;
  border-radius: 50%;
  height: 400px;
  position: relative;
  width: 400px;

  &::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 2;
  }

  &__hand {
    background-color: #ffffff;
    bottom: 50%;
    height: 50%;
    left: 50%;
    position: absolute;
    transform-origin: bottom;
    transform: translateX(-50%);
    width: 8px;
    z-index: 1;

    &.hour {
      background-color: #fff;
      height: 25%;
      width: 5px;
    }

    &.minute {
      height: 38%;
    }

    &.second {
      height: 38%;
      width: 2px;
      background-color: red;
    }
  }

  &__number {
    color: #fff;
    font-weight: bold;
    height: 90%;
    left: 5%;
    position: absolute;
    text-align: center;
    top: 5%;
    transform: rotate(0);
    width: 90%;

    &.number1 {
      transform: rotate(30deg);
    }

    &.number2 {
      transform: rotate(60deg);
    }

    &.number3 {
      transform: rotate(90deg);
    }

    &.number4 {
      transform: rotate(120deg);
    }

    &.number5 {
      transform: rotate(150deg);
    }

    &.number6 {
      transform: rotate(180deg);
    }

    &.number7 {
      transform: rotate(210deg);
    }

    &.number8 {
      transform: rotate(240deg);
    }
    &.number9 {
      transform: rotate(270deg);
    }

    &.number10 {
      transform: rotate(300deg);
    }

    &.number11 {
      transform: rotate(330deg);
    }
  }
}
