.comments-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 10rem;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 2rem;
  background-color: #ea9ab2;
  padding: 3rem;
  border-radius: 4rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__container {
    display: flex;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2rem;
    border: 2px solid green;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    background-color: #efcfe3;
    padding: 2rem;

    & p {
      margin: 0;
    }
  }

  &__content {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
  }

  &__link {
    font-size: 1.3rem;
    display: none;
  }

  & .show-link {
    display: block;
  }
  // &__link {
  //   display: none;
  // }

  // &.show-link {
  //   display: block;
  // }

  // &__reply-link {
  //   color: blue;
  //   font-size: 1.3rem;
  //   font-style: italic;

  //   &:hover {
  //     color: #ea9ab2;
  //   }
  // }

  &__reply-btn {
    margin-top: auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.3rem;

    &:hover {
      background-color: #ea9ab2;
    }
  }

  &__submit-btn {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.3rem;

    &:hover {
      background-color: #ea9ab2;
    }
  }

  &__input-container {
    background-color: #b3dee2;
    border-radius: 2rem;
    padding: 2rem;
  }

  &__txtinput {
    width: 100%;
    padding: 1rem;
  }

  &__sender {
    width: 60%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  & .error-message {
    display: none;
  }

  & .error {
    display: block;
    color: red;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: bold;
  }

  // reply section

  &__reply-container {
    display: none;

    &.show {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__reply-paragraph {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
  }

  &__close-btn {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #000;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #ea9ab2;
    }
  }
}
