.comments-section {
  @include flex-center(column);
  min-height: 100vh;
  margin-top: 10rem;
}

.comments {
  background-color: #2c3531;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  width: 700px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__container {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
  }

  &__profile {
    @include flex-center(column);
    gap: 0.2rem;
    background-color: #d1e8e2;
    padding: 2rem;
  }

  &__avatar {
    width: 100%;
  }

  &__name,
  &__id,
  &__paragraph {
    font-size: 1.5rem;
    margin: 0;
  }

  &__content {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
  }

  &__link {
    font-size: 1.3rem;
  }

  &__reply-btn {
    background-color: #d1e8e2;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-top: auto;
    padding: 0.8rem 1rem;
    transition: all 0.3s;

    &:hover {
      background-color: #ffcb9a;
    }
  }

  &__submit-btn {
    background-color: #d1e8e2;
    border-radius: 0.5rem;
    border: none;
    color: #2c3531;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    transition: all 0.3s;

    &:hover {
      background-color: #ffcb9a;
    }
  }

  // form inputs

  &__input-container {
    background-color: #116466;
    border-radius: 2rem;
    padding: 2rem;
  }

  &__txtinput {
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
  }

  &__sender {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 60%;
  }

  // reply section

  &__reply-container {
    display: none;

    &.show {
      align-items: center;
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__reply-paragraph {
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin: 0;
  }

  &__close-btn {
    background-color: #ffcb9a;
    border-radius: 0.5rem;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: #d1e8e2;
    }
  }
}
