.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

header {
  @include flex-center(column);
  max-width: 1100px;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.logo {
  width: 50%;

  @media screen and (max-width: 450px) {
    width: 80%;
  }
}

.pokedex__form {
  @include flex-center(row);
  gap: 2rem;
  margin-top: 5rem;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }

  & button {
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    transition: all 0.3s;

    &.clear {
      background-color: #ff0000;

      &:hover {
        background-color: #ff6666;
      }
    }

    &.generate {
      background-color: #3466af;

      &:hover {
        background-color: #4875b7;
      }
    }
  }

  & select {
    border-radius: 5px;
    border: 0.5px solid black;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.pokedex {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
  max-width: 1100px;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;

  @media screen and (max-width: 450px) {
    // grid-template-columns: 200px;
    justify-items: center;
    align-items: center;
  }

  &__container {
    position: relative;

    &:hover .back {
      opacity: 1;
    }

    &:hover .front {
      opacity: 0;
    }
  }

  &__card,
  &__image {
    @include flex-center(column);

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
    gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  & .front {
    background-color: #ffcb05;
    border-radius: 10px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 100%;
  }

  & .back {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  &__header {
    margin: 0;
    font-size: 1.9rem;
  }

  &__sprite {
    display: inline-block;
    vertical-align: middle;
  }

  &__types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__type {
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
  }

  .hide {
    display: none;
  }

  &__table {
    border-spacing: 20px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__table-column {
    &:nth-child(2n) {
      font-weight: bold;
    }
  }
}
