.search {
  width: 30%;

  &__group {
    border: 2px solid #ccc;
    border-radius: 100px;
    display: flex;
    padding: 0 1rem;
  }

  &__input {
    border: 0;
    padding: 1rem;
    outline: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    border-radius: 100px;
  }

  &__btn {
    align-self: center;
    background-color: #fff;
    border: none;
    cursor: pointer;

    :hover {
      color: red;
    }
  }

  &__icon {
    margin: 4px;
    align-self: center;
    width: 25px;
    height: 25px;
    color: gray;
  }
}
