.search {
  width: 30%;
  height: 100px;

  &__group {
    border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 1rem;
    position: relative;
  }

  &__input {
    border-radius: 100px;
    border: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    outline: 0;
    padding-left: 2rem;
    width: 80%;

    &::placeholder {
      color: #ccc;
    }
  }

  &__result {
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  &__list {
    display: none;
    transition: all 0.2s;

    &.show {
      display: block;
    }
  }

  &__btn {
    align-self: center;
    background-color: red;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 12px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #8b0000;
    }
  }

  &__icon {
    align-self: center;
    color: white;
    height: 15px;
    margin: 4px;
    width: 15px;
  }
}
